
header {
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-section {
    max-width: 1366px;
    padding: 0 20px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo a img {
    height: 30px;
    align-items: center;
    margin-left: 10px;
}

.navbar-menu {
    display: flex;
    justify-content: space-between;
}

.navbar-menu a {
    color: #333;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
    transition: 0.3s;
}

.navbar-menu a:hover {
    background-color: #33D2A3;
    padding: 10px;
    border-radius: 5px;
}

.navbar-auth {
    display: flex;
    justify-content: space-around;
}

.navbar-auth a {
    padding: 10px;
    text-decoration: none;
    color: #000;
    margin-left: 10px;
    transition: 0.3s;
}

.register {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.navbar-auth a:hover {
    padding: 10px;
    background-color: #2dd4bf;
    border-radius: 5px;
}
